<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Changetip.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ChangetipKeyboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D1C263A11C06878A00BA6BD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1C263B51C06878A00BA6BD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1C263C01C06878A00BA6BD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1C263D61C0687FE00BA6BD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
